In [1]:
#Q1. Create one variable containing following type of data:


a= "Mukesh"
b=["Kumar",2,6.89,6+7j,-34]
c= 7.897
d=(56,79.09,"Kumar")

In [ ]:
#Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

Ans- 1- String
2- String
3-List
4- Float

In [ ]:
#Q3. Explain the use of the following operators using an example:
1- /- This will divide the numerator with denominator and gives the ans as is- with out rounding off.
eg- 5/1000= 0.005

2- %- Modulus will only returns division part and not the reminder eg- 3/2=1

3- //- this operator will give the floor value result of any division eg- 5//2=2
4- ** this will return root of any number 2**3=8

In [7]:
#4-Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
L= [2,4,55.7,"PW",4+9j,5,"YU","Joda",788,90.09]
for i in L:
    print(i)
    print(f"Data Type is {type(i)}")

2
Data Type is <class 'int'>
4
Data Type is <class 'int'>
55.7
Data Type is <class 'float'>
PW
Data Type is <class 'str'>
(4+9j)
Data Type is <class 'complex'>
5
Data Type is <class 'int'>
YU
Data Type is <class 'str'>
Joda
Data Type is <class 'str'>
788
Data Type is <class 'int'>
90.09
Data Type is <class 'float'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A= int(input("First Number"))
B=int(input("Second Number"))
i=0
while A%B==0:
      A=A/B
      i=i+1
if i>0:
    print(f"A can be divided by B for {i} times")
else:
    print("Not Divisible")

In [19]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
list=[4,3,9,5,6,15,10,33,89,90,99,76,18,27,24,39,21,78,9,30,1,67,6,99,100]
for i in list:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} Not Divisbile")
print("\n\tBhaiya Ji SMILE...")

4 Not Divisbile
3 is divisible by 3
9 is divisible by 3
5 Not Divisbile
6 is divisible by 3
15 is divisible by 3
10 Not Divisbile
33 is divisible by 3
89 Not Divisbile
90 is divisible by 3
99 is divisible by 3
76 Not Divisbile
18 is divisible by 3
27 is divisible by 3
24 is divisible by 3
39 is divisible by 3
21 is divisible by 3
78 is divisible by 3
9 is divisible by 3
30 is divisible by 3
1 Not Divisbile
67 Not Divisbile
6 is divisible by 3
99 is divisible by 3
100 Not Divisbile

	Bhaiya Ji SMILE...

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable- Means changable, Eg- in list data can be changed/Replaced. 
Immutable- Means we cannot replace/Chnage the data.
A= ["Rohit",2,45]
A[0]="Mukesh"
A

In [20]:
A= ["Rohit",2,45]

In [21]:
A[0]="Mukesh"

In [22]:
A

['Mukesh', 2, 45]

In [24]:
a = 10

b = 5

c = a // b

d = a % b

print(c, d)

2 0